.content-container {
margin: 0 auto;
border-radius: 10px;
border-color: darkgray;
background-color: darkgray;
opacity: 0.9;
-moz-box-shadow: 0 0 10px 1px darkgray;
-webkit-box-shadow: 0 0 10px 1px darkgray;
box-shadow: 0 0 10px 1px darkgray;
width: 100%;
padding-left: 10px;
padding-right: 10px;
padding-top: 2px;
padding-bottom: 10px; 
}

.content-container h4 {
text-decoration: underline;
}

.header-container {
text-align: center;
border-radius: 10px;
border-color: darkgray;
background-color: darkgray;
opacity: 0.9;
-moz-box-shadow: 0 0 10px 1px darkgray;
-webkit-box-shadow: 0 0 10px 1px darkgray;
box-shadow: 0 0 10px 1px darkgray;
width: 75%;
margin: 0 auto;
margin-bottom: 15px;
padding-bottom: 5px;
}

#page-wrapper {
width: 960px;
max-width: 90%;
margin: 0 auto;
padding-top: 10px;
}

body {
background-image: url("Images/newbackground.jpg");
background-size: cover;
background-repeat:no-repeat;
background-attachment:fixed;
}

.h4-black {
color: #000000;
}

p {
font-family: "Times New Roman", Times, serif;
color: black;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

.li-black {
color: #000000;
}

hr {
color: black;
}

ul {
list-style-position: inside;
list-style-type: square;
}

li {
color: #000000;
}

a:hover {
color: yellow;
background-color: yellow;
}

a:link, a:visited, a:active {
color: blue;
}
