  <div class="assignment4-content-container" ng-controller="homeCtrl">
       <div class="container-fluid">
           <div class="page-header">
		            <h1>Stock Portfolio</h1>
                <div class="row">
                  <div class="col-md-1"><span class="label label-primary">{{username}}</span>
                  </div>
                </div>
                <div class="row">
                <div class="col-md-1">  <span class="label label-primary">{{accountBalance | currency: "$"}}</span>
                </div>
                </div>
	        </div>
   			<div class="panel panel-default">
   				<div class="panel-heading">
   					<h3 class="panel-title">Available Stocks</h3>
   				</div>
   				 <div id="nofundsalert" class="alert alert-danger alert-dismissible" role="alert" style="display:none;">
  				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  				<strong>Warning!</strong> Insufficient Funds! 
				</div>
   				<div class="panel-body">
					<div class="row">
	        			<div data-ng-repeat="stock in myStocks" ng-show="stock.quantity > 0" class="col-md-2 col-md-offset-1" style="padding-bottom:20px;"><span class="badge badge-info">{{stock.symbol}}</span><br/><span class="badge">{{stock.price | currency: "$"}}</span><br/><span class="badge">Available:{{stock.quantity}}</span><button class="btn btn-success" style="width: 80px;" ng-click="buy(stock)">Buy</button></div>
	        		</div>
   				</div>
   			</div>

   			<div class="panel panel-default">
   				<div class="panel-heading">
   					<h3 class="panel-title">My Stocks</h3>
   				</div>
   				<div class="panel-body">
					<div class="row">
                <div data-ng-repeat="stock in myStocks" ng-show="stock.owned > 0" class="col-md-2 col-md-offset-1" style="padding-bottom:20px;"><span class="badge badge-info">{{stock.symbol}}</span><br/><span class="badge">{{stock.price | currency: "$"}}</span><br/><span class="badge">Available:{{stock.owned}}</span><button class="btn btn-warning" style="width: 80px;" ng-click="sell(stock)">Sell</button></div>
              </div>
   				</div>
   			</div>

	  <button ng-click="logout()" class="btn btn-info">Logout</button>
      </div> 
  </div>