<!--Success Message-->
<div id="savemessage" class="ui positive hidden message">
  <i id="close" class="close icon"></i>
  <div class="header">
    Tasks saved successfully!
  </div>
</div>

<div id="deletemessage" class="ui positive hidden message">
  <i id="closeDelete" class="close icon"></i>
  <div class="header">
    Tasks deleted successfully!
  </div>
</div>

<div data-ng-init="getBoard(); getBoards();" ng-controller="homeCtrl" class="ui grid" style="padding-left:2%;">

  <div class="row">
    <div class="left floated three wide column">
      <div class="ui vertical menu" style="margin-bottom: 1080px;">
        <div class="header item">
          <div class="right floated author">
            <img class="ui avatar image" src="img/avatar1.jpg"> {{username}}
          </div>
        </div>
        <div id="boarddropdown" class="ui dropdown item">
          Boards
          <i class="dropdown icon"></i>
          <div class="menu">
          <div class="header">
            My Boards
          </div>
            <a data="{{board.Id}}" ng-click="setBoard(board.Id)" ng-repeat="board in boards" class="item">{{board.boardName}}</a>
            <div class="header">
              New Board
            </div>
            <a class="item">Create</a>
          </div>
        </div>
        <a class="teal item">
          Tasks
          <div class="ui teal label">{{getTotalTodos()}}</div>
        </a>
        <a data-nodrag id="delete" ng-click="clearCompleted()" class="item">
          Remove Finished Tasks
          <i class="trash icon"></i>
        </a>
        <a ng-click="logout()" class="item">
          Logout
          <i class="sign out icon"></i>
        </a>
      <div class="item">
        <div class="ui transparent icon input">
          <input ng-model="searchText" type="text" placeholder="Search tasks..." autofocus>
          <i class="search icon"></i>
        </div>
      </div>
      <div class="header item">
          Create New Task
        </div>
          <div class="ui cards">
          <div class="card">
            <div class="content">
              <div class="header">Create New Task</div>
              <div class="item">
                <div class="ui transparent icon input">
                  <input type="text" ng-model="task.name" placeholder="Task Name">
                </div>
               <div class="ui transparent icon input">
                  <input id="desc" ng-model="task.text" type="text" placeholder="Task Description">
                </div>
              </div>
            </div>
            <button id="addToDo" type="button" ng-enter="addTask()" ng-click="addTask()" class="ui bottom attached submit positive button">
              <i class="add icon"></i>
              Add Task
            </button>
            </div>
        </div>
    </div>
  </div>

  <!--ReadyToWork column-->
  <div class="three wide column">
    <h4 class="ui center aligned icon header">
      <i class="circular pin icon"></i>
      Ready To Work
    </h4>
    <div ui-tree="options">
      <div ui-tree-nodes="" ng-model="board.readytowork">
          <div ui-tree-node class="ui cards" ng-repeat="task in board.readytowork | filter:searchText">
          <div class="card">
            <div ng-hide="editing" class="content">
              <div style="display: none;">{{task.Id}}</div>
              <i data-nodrag ng-click="editing = true" class="right floated edit icon"></i>
                <div class="header">{{task.name}}</div>
                <div class="meta">Created by {{task.owner}}</div>
                <div class="description min-card">
                  <div>{{task.text}}</div>
                </div>
            </div>
            <!--For Editing-->
           <div ng-show="editing" class="content">
              <div style="display: none;"></div>
                <div class="header"><input type="text" ng-model="task.name" placeholder="Task Name"></div>
                <div class="description min-card">
                  <div><input type="text" ng-model="task.text" placeholder="Task Name"></div>
                </div>
                <div data-nodrag id="save" ng-click="saveSingleTask(task); editing = false" class="ui submit positive button">Save</div>
            </div>
            <div class="extra content">
                <div data-nodrag class="ui toggle checkbox">
                  <input data-nodrag ng-model="task.done" type="checkbox" id="{{task.text}}">
                  <label for="{{task.text}}">Finished</label>
                </div>
                 <div class="right floated author">
                    <img title="" class="ui avatar image" src="img/avatar1.jpg">
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
<!--End of ReadyToWork-->

<!--Doing Column-->
  <div class="three wide column">
    <h4 class="ui center aligned icon header">
      <i class="circular refresh icon"></i>
      Doing
    </h4>
      <div ui-tree="options">
      <div ui-tree-nodes="" ng-model="board.doing">
          <div ui-tree-node class="ui cards" ng-repeat="task in board.doing | filter:searchText">
          <div class="card">
            <div ng-hide="editing" class="content">
              <div style="display: none;">{{task.Id}}</div>
              <i data-nodrag ng-click="editing = true" class="right floated edit icon"></i>
                <div class="header">{{task.name}}</div>
                <div class="meta">Created by {{task.owner}}</div>
                <div class="description min-card">
                  <div>{{task.text}}</div>
                </div>
            </div>
            <!--For Editing-->
           <div ng-show="editing" class="content">
              <div style="display: none;"></div>
                <div class="header"><input type="text" ng-model="task.name" placeholder="Task Name"></div>
                <div class="description min-card">
                  <div><input type="text" ng-model="task.text" placeholder="Task Name"></div>
                </div>
                <div data-nodrag id="save" ng-click="saveTodos(); editing = false" class="ui submit positive button">Save</div>
            </div>
            <div class="extra content">
                <div data-nodrag class="ui toggle checkbox">
                  <input data-nodrag ng-model="task.done" type="checkbox" id="{{task.text}}">
                  <label for="{{task.text}}">Finished</label>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--End of Doing-->

<!--QA Column-->
  <div class="three wide column">
    <h4 class="ui center aligned icon header">
      <i class="circular users icon"></i>
      QA
    </h4>
    <div ui-tree="options">
      <div ui-tree-nodes="" ng-model="board.qa">
          <div ui-tree-node class="ui cards" ng-repeat="task in board.qa | filter:searchText">
          <div class="card">
            <div ng-hide="editing" class="content">
              <div style="display: none;">{{task.Id}}</div>
              <i data-nodrag ng-click="editing = true" class="right floated edit icon"></i>
                <div class="header">{{task.name}}</div>
                <div class="meta">Created by {{task.owner}}</div>
                <div class="description min-card">
                  <div>{{task.text}}</div>
                </div>
            </div>
            <!--For Editing-->
           <div ng-show="editing" class="content">
              <div style="display: none;"></div>
                <div class="header"><input type="text" ng-model="task.name" placeholder="Task Name"></div>
                <div class="description min-card">
                  <div><input type="text" ng-model="task.text" placeholder="Task Name"></div>
                </div>
                <div data-nodrag id="save" ng-click="saveTodos(); editing = false" class="ui submit positive button">Save</div>
            </div>
            <div class="extra content">
                <div data-nodrag class="ui toggle checkbox">
                  <input data-nodrag ng-model="task.done" type="checkbox" id="{{task.text}}">
                  <label for="{{task.text}}">Finished</label>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--End of QA Column-->

<!--ReadyToLaunch Column-->
  <div class="three wide column">
    <h4 class="ui center aligned icon header">
      <i class="circular rocket icon"></i>
      Ready to Launch
    </h4>
       <div ui-tree="options">
      <div ui-tree-nodes="" ng-model="board.readytolaunch">
          <div ui-tree-node class="ui cards" ng-repeat="task in board.readytolaunch | filter:searchText">
          <div class="card">
            <div ng-hide="editing" class="content">
              <div style="display: none;">{{task.Id}}</div>
              <i data-nodrag ng-click="editing = true" class="right floated edit icon"></i>
                <div class="header">{{task.name}}</div>
                <div class="meta">Created by {{task.owner}}</div>
                <div class="description min-card">
                  <div>{{task.text}}</div>
                </div>
            </div>
            <!--For Editing-->
           <div ng-show="editing" class="content">
              <div style="display: none;"></div>
                <div class="header"><input type="text" ng-model="task.name" placeholder="Task Name"></div>
                <div class="description min-card">
                  <div><input type="text" ng-model="task.text" placeholder="Task Name"></div>
                </div>
                <div data-nodrag id="save" ng-click="saveTodos(); editing = false" class="ui submit positive button">Save</div>
            </div>
            <div class="extra content">
                <div data-nodrag class="ui toggle checkbox">
                  <input data-nodrag ng-model="task.done" type="checkbox" id="{{task.text}}">
                  <label for="{{task.text}}">Finished</label>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--End of ReadyToLaunch Column-->
 

     




